src/Makefile
src/*.so
src/**/*_m.h
src/**/*_m.cc

doc/doxy
doc/neddoc

/run
/debug
/memcheck

/out

tests/**/results
tests/**/.tkenvrc
tests/**/out.tmp
tests/**/err.tmp

examples/**/results
examples/**/.tkenvrc
examples/**/valgrind.out
