*_m.h
*_m.cc
*.pdb
*.idb
*.ilk
*.exe
*.lib
*.dll
.pydevproject
.settings
.tstamp
env.sh
makefrag.vc
**/Makefile
**/.tkenvrc
**/Makefile.vc
out
doc/doxy
doc/neddoc
doc/index.html
src/*.so
src/base/*.so
src/modules/*.so
Makefile
ieee802154a/ieee802154a
results
examples/**/figures
examples/**/.tkenvrc
examples/**/miximexamples
tests/miximtests
tests/**/out.tmp
tests/**/err.tmp
tests/**/diff.log
tests/baseMobility/baseMobility
tests/basePhyLayer/basePhyLayer
tests/blackboard/blackboard
tests/channelInfo/channelInfo
tests/connectionManager/connectionManager
tests/coord/coord
tests/mapping/mapping
tests/radioState/radioState
tests/testUtils/libmiximtestUtils.so
tests/nicTest/nicTest
tests/decider/decider
inet/tests/mixnetBridge/testCase
inet/tests/mixnetWorldUtility/testCase
examples/CSMAMac/CSMAMac
examples/Mac80211/Mac80211
examples/analogueModels/analogueModels
examples/baseNetwork/baseNetwork
examples/ieee802154Narrow/ieee802154Narrow
examples/ieee802154a/ieee802154a
examples/multiConnectionManager/multiConnectionManager
examples/BaseMoBANNetwork/BaseMoBANNetwork
examples/WSNRouting/WSNRouting
examples/bmac/bmac
examples/lmac/lmac
**.vci

