src/Makefile
src/Makefile.inc
src/*.so
src/*.dll
src/*.dylib
src/**/*_m.h
src/**/*_m.cc

doc/doxy
doc/neddoc

/run

/out

examples/**/results
examples/**/.tkenvrc
examples/**/.qtenvrc
examples/**/.cmdenv-log
examples/**/valgrind.out
examples/**/veins-runall-output/
