<?xml version="1.0" encoding="UTF-8"?>
<root>
	<AnalogueModels>
	    <AnalogueModel type="SimplePathlossModel">
	    	<parameter name="alpha" type="double" value="2.0"/>
	    	<parameter name="carrierFrequency" type="double" value="2.412e+9"/>
	    </AnalogueModel>
	    <AnalogueModel type="RandomFreqTimeModel">
	        <parameter name="seed" type="long" value="123654"/>
	    </AnalogueModel>
	    <AnalogueModel type="RandomFrequencyOnlyModel">
	    	<parameter name="seed" type="long" value="123654"/>
	    </AnalogueModel>
	</AnalogueModels>
	<Decider type="ThresholdDecider">
		<!-- threshold as factor for mW -->
		<parameter name="threshold" type="double" value="1.0e-9"/>
	</Decider>
</root>