<?xml version="1.0" encoding="UTF-8"?>
<root>
	<AnalogueModels>
	    <AnalogueModel type="UWBIRPathlossModel">
	    </AnalogueModel>
	</AnalogueModels>
	<Decider type="UWBIREnergyDetectionDecider">
		<parameter name="samplingInterval" type="double" value="0.000000002003203125/4"/>
		<parameter name="nbFreqPoints" type="long" value="10"/>
	</Decider>
</root>

