<?xml version="1.0" encoding="UTF-8"?>
<root>
	<AnalogueModels>
		<AnalogueModel type="BreakpointPathlossModel">
		    <!-- IEEE 802.15.4 path loss channel model -->
	    	<parameter name="alpha1" type="double" value="2"/>
	    	<parameter name="L01" type="double" value="40.2"/>
	    	<parameter name="breakpointDistance" type="double" value="8.0"/>
	    	<parameter name="alpha2" type="double" value="3.3"/>
	    	<parameter name="L02" type="double" value="58.8"/>
	    	<parameter name="carrierFrequency" type="double" value="2.4E+9"/>
	    </AnalogueModel>
		<!-- we add a log-normal shadowing effect on top of the IEEE 802.15.4 path loss --> 
		<AnalogueModel type="LogNormalShadowing">
		<parameter name="mean" type="double" value="0.0"/>
		<parameter name="stdDev" type="double" value="6"/>
		<parameter name="interval" type="double" value="1"/>
		</AnalogueModel>
	</AnalogueModels>
	<Decider type="Decider802154Narrow">
		<!--Length of Start Frame Delimiter (used to compute probability of successful 
			synchronization)-->
		<parameter name="sfdLength" type="long" value="8"/>
		
		<!--minimum possible bit error rate (BER floor)-->
		<parameter name="berLowerBound" type="double" value="1e-8"/>
		
		<!--modulation type-->
		<parameter name="modulation" type="string" value="msk"/>
	</Decider>
</root>
